body{
    background-color: #000000;
    color: #ffffff;

}
.title{
    color: #0dbf37;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 75px;
    margin-bottom: 0px;

}
.centreText{
    text-align: center;
}

.subtitle{
    color: #0dbf37;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 25px;
    margin-top: 0px;
    padding-top: 10px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}